/* pages/activity/activity.wxss */
.container {
    .mask {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        z-index: 9999;
      }
      .mask .tips h1 {
        font-size: 40rpx;
        font-weight: bolder;
        color:white;
      }
      .mask .tips h1:after {
        content: "";
        display: block;
        width: 100rpx;
        height: 5rpx;
        margin:10rpx auto;
        background: #ffa500;
      }
      .mask .tips {
        position: absolute;
        margin:auto;
        left: 0;
        right:0;
        top: 0;
        bottom: 0;
        width:70%;
        height: 600rpx;
        box-shadow: 0px 4px 8px /*#706f6f*/ rgba(255, 255, 255, 0.2);
        border-radius: 20rpx;
        
        
      }
      .tip_swiper{
        display: block;
        width:100%;
        height: 100%;
        border-radius: 20rpx;
         
      }
      .tip_item{
        display: block;
        border-radius: 20rpx;
        width:100%;
        height: 100%;
      }
      #tip_img {
        display: block;
        border-radius: 20rpx;
        height: 100%;
        width: 100%;
      }
      .mask .none {
         position: absolute;
         margin:auto;
         left: 0;
         right:0;
         bottom: 0;
         top:750rpx;
         width: 80%;
         height: 60rpx;
         text-align: center;
      }
      .mask .none image {
        width: 80rpx;
        height: 80rpx
      }
      #topSwiper {
        height: 500rpx;
        position: relative;
      }
    .ac-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width:95%;
        margin:auto;
        .ac-item {
            width: 48%;
            height: 400rpx;
            margin-top:20rpx;
            box-shadow: 0 5rpx 10rpx rgba(0,0,0,0.3);
            overflow: hidden;
            border-radius: 10rpx;
            .ac-img {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                width: 100%;
                height: 300rpx;
                image {
                    width: 100%;
                }
                
            }
            .ac-name {
              margin-top: 8rpx;
              margin-left:10rpx;
              font-size: 30rpx;
              font-weight: bold;
            }
            .ac-number {
              margin-top: 8rpx;
              margin-left:10rpx;
              font-size: 25rpx;
            }
        }
    }

    .scrollTop ,.searchBar,.refreshBar{
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right:40rpx;
      right: 8rpx;
      bottom: 30rpx;
      z-index: 999;
      width: 100rpx;
      height: 100rpx;
      border-radius: 50%;
      background: rgb(255,255,255);
      box-shadow: 0px 4px 8px /*#706f6f*/ rgba(0, 0, 0, 0.2);
      transition: .5s ease-in-out;
    }
    .searchBar {
      right: 130rpx;
    }
    .refreshBar {
      right: 250rpx;
    }
    .scrollTop image{
      width: 45rpx;
      height: 45rpx;
    }
    .searchBar image,.refreshBar image{
      width: 65rpx;
      height: 65rpx;
    }
    .refreshBar image:hover{
      animation: fresh .6s linear;
    }
    @keyframes fresh{
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
      }
    }
}