.container .upload-img {
  width: 100%;
  height: 300rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container .upload-img .preview {
  width: 100%;
  object-fit: cover;
}

.container .upload-img text {
  font-size: 30rpx;
  color: rgba(0, 0, 0, 0.2);
}

.container van-popup {
  z-index: 999;
}

.container .ac-name, .container .ac-vid, .container .ac-range, .container .ac-startDate, .container .ac-endDate, .container .ac-rate, .container .ac-describe {
  margin: auto;
  padding: 20rpx;
  width: 95%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.container .ac-name picker, .container .ac-vid picker, .container .ac-range picker, .container .ac-startDate picker, .container .ac-endDate picker, .container .ac-rate picker, .container .ac-describe picker {
  width: 70%;
  text-align: right;
}

.container .ac-name picker input, .container .ac-vid picker input, .container .ac-range picker input, .container .ac-startDate picker input, .container .ac-endDate picker input, .container .ac-rate picker input, .container .ac-describe picker input {
  width: 100%;
  margin-right: 10rpx;
}

.container .ac-name .range-text, .container .ac-vid .range-text, .container .ac-range .range-text, .container .ac-startDate .range-text, .container .ac-endDate .range-text, .container .ac-rate .range-text, .container .ac-describe .range-text {
  color: rgba(0, 0, 0, 0.2);
}

.container .ac-name text, .container .ac-vid text, .container .ac-range text, .container .ac-startDate text, .container .ac-endDate text, .container .ac-rate text, .container .ac-describe text {
  margin-left: 10rpx;
}

.container .ac-name input, .container .ac-name .date, .container .ac-vid input, .container .ac-vid .date, .container .ac-range input, .container .ac-range .date, .container .ac-startDate input, .container .ac-startDate .date, .container .ac-endDate input, .container .ac-endDate .date, .container .ac-rate input, .container .ac-rate .date, .container .ac-describe input, .container .ac-describe .date {
  margin-right: 10rpx;
  width: 70%;
  font-size: 35rpx;
  text-align: right;
}

.container .ac-describe {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.container .ac-describe textarea {
  width: 100%;
}

.container .ac-describe .display-img {
  position: relative;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.container .ac-describe .display-img .imgList {
  position: relative;
  width: 100rpx;
  height: 100rpx;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 14rpx;
}

.container .ac-describe .display-img .imgList image {
  width: 100%;
  height: 100%;
}

.container .ac-describe .display-img .imgList van-icon {
  position: absolute;
  right: -8rpx;
  top: -20rpx;
}

.container .ac-describe .display-img .add-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100rpx;
  height: 100rpx;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.container .btn {
  width: 95%;
  background: #006acc;
  color: white;
}
